body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-content{
    box-shadow: 0 0 1px black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

@media(max-width:320px){
    .main-content{
        width: 90%;
    }
}

.bqg{
    color: #FF0080;
    text-shadow: 2px 2px 0 steelblue;
    font-size: 50px;
    margin: 5px;
    font-weight: bold;
}

.desc{
    font-family: 'Gochi Hand';
    font-size: 20px;
}

.eudin{
    font-family: 'Gochi Hand';
    font-size: 23px;
}